.header {
    grid-area: h;
    background-color: steelblue
}

.header img {
    width: 70px;
}

.loginBlock {
    float: right;
    color: white;
}

.loginBlock button {
    background-color: gainsboro;
    border-radius: 15px;
}