.nav {
    grid-area: n;
    background-color: lightgrey;
}

.item a {
    color: blueviolet;
    margin-left: 15px;
    text-decoration: none;
}

.item a:hover {
    background-color: darkgrey;
    background-size: cover;
    /*border: 1px solid black;*/
}

.item a.activeLink {
    text-decoration: underline;
    color: darkblue;
    font-weight: bold;

}